# Ignore Python cache files
__pycache__/
*.pyc

# Ignore SQLite database file (auto-created)
contacts.db

# Ignore uploaded photos (optional)
static/uploads/
static/owners_uploads/

# Ignore environment variable files (if any)
priv.env

.flask_secret