body{
    overflow: hidden;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.box{
    border-radius: 1rem;
    box-shadow: 0 3px 9px rgba(174, 190, 174, 0.6);
    background-color: rgb(255, 251, 251);
    height: 60vh ;
    
    justify-content: center ;
    align-items: start ;
    display: flex ;
    padding: 0.6rem;
}
.verified{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(56, 132, 56) ;
}

.box i{
    padding-right: 9px;
}

.dvd{
    background-color: rgb(134, 129, 129);
    width: 100% ;
}

.top{
    background-color: white;
}

.container-1{
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .box {
        width: 90vw !important;
        padding: 0.8rem;
    }
}
