body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(135, 78, 192, 0.9));
}

.add-contacts {
    margin-bottom: 30%;
    margin-left: 10%;
}

.add-contacts p {
    color: blueviolet;
    position: relative;
    left: 27%;
    font-size: 36px;
    margin-top: 9%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',  sans-serif;
}

.add-form {
   justify-content: center;
   align-items: center;
   display: flex;
   margin: 0;
   position: relative;
   right: 13%;
   top: 5%;
}

.add-form #text {
    padding: 10px 10px 14px 35px;
    margin-bottom: 20px;
    margin-left: 4px;
    font-size: 17px;
    text-align: start;
    background-color: transparent;
    width: 20vw;
    border: none;
    outline: none;
    border-bottom: solid 2px blueviolet;
}

#text::placeholder {
    color: rgba(255, 255, 255, 0.699);
    opacity: 1;
    font-style: italic;
}

#text::-webkit-input-placeholder { 
    color: rgba(255, 255, 255, 0.644);
    opacity: 1;
    font-style: italic;
 }
#text::-moz-placeholder { 
    color: rgba(255, 255, 255, 0.644);
    opacity: 3;
    font-style: italic;
}
#text:-ms-input-placeholder { 
    color: rgba(255, 255, 255, 0.644);
    opacity: 1;
    font-style: italic;
 }


.add-form #text:focus {
     border-bottom: solid 2px rgb(119, 41, 192);
}

.add-form #icons {
    position: relative;
    left: 10%;
    color: blueviolet;
    font-size: 20px;
}

.add-form label,
.add-form button,
.add-form a {
    font-family: sans-serif;
    white-space: nowrap;
}

.img-con {
    display: flex;
    flex-direction: column;
}

.img-con label {
    margin-bottom: 5%;
}

.img {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 10%;
}

.img i {
    font-size: 20px;
}

.img i, .img label {
    margin-right: 10px;
}

.img span {
    margin-bottom: 5%;
    color: blueviolet;
    font-style: italic;
}
.img-con #image {
    border: none;
}

.img-con input {
    display: flex;
    justify-content: center;

}


.file-upload {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}


.file-upload i {
    font-size: 20px;
    color:blueviolet;
    cursor: pointer;
}

.file-upload i:active {
    color: rgb(176, 120, 228);
}

.img-con input[type="file"] {
    display:  none;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.submit button {
    width: 24vw;
    height: 7vh;
    border-radius: 1em;
    border: none;
    margin-left: 10%;
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.submit button:hover {
    background-color: rgb(133, 80, 183);
}

.submit button:active {
    background-color: rgb(161, 107, 212);
}

.submit i {
    margin-right: 5px;
}

.back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.back a {
    text-decoration: none;
    cursor: pointer;
}

.back a:hover {
    text-decoration: underline;
}

.back a:active {
    color: rgb(146, 60, 227);
    text-decoration: underline;
}

@media (max-width: 991px) {
    .add-contacts p {
        position: absolute;
        bottom: 77%;
        left: 26%;
    }

    .add-form #text {
        width: 30vw;
    }

    .submit button {
        width: 39vw;
    }
}

@media (max-width: 767px) {
    .add-form {
        margin-left: 12%;
    }
    .add-form #text {
        width: 38vw;
    }

    .add-contacts p {
        margin-left: 2%;
    }

    .submit button {
        width: 90%;
    }
}