body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: blueviolet;
}

.right {
    position: absolute;
    right: 24%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    border-radius: 2em;
    width: 50%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    width: 100vw;
    margin-bottom: 44%;
    padding: 20px 0 5px 12px;
    background-color: transparent;
}

.navbar a {
    color: white;
    font-size: 35px;
    padding-left: 30px;
    cursor: pointer;
}

.navbar a:hover {
    color: rgb(232, 225, 225);
}

.navbar a:active {
    color: rgb(216, 216, 216);
}

.form {
   display: flex;
   position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    bottom: 34%;
}

.form p {
    font-family: sans-serif;
    font-weight: bold;
}

#text {
    position: relative;
    left: 13%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.img  {
    position: relative;
    width: 120px;
    height: 120px;
    aspect-ratio:  1 / 1;
    border: 1px solid black;
    object-fit: cover;
    
}

.display {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 20px;
    left: 44%;
    bottom: 29%;
}

.button {
    display: block;
    margin-top: 20px;
}

button {
    width: 340px;
    height: 40px;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 0.8em;
    transition: ease-in 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(114, 30, 193);
}


button:active {
    background-color: rgb(134, 52, 212);
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#insert {
    display: none;
}

.wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.wrap i {
    font-size: 20px;
    color: blueviolet;
}


#no-file {
    color: blueviolet;
    z-index: 2;
}

@media (max-width: 991px) {
    .right {
        display: flex;
        justify-content: end;
        right: -2%;
        width: 75vw;
    }

    .form {
        position: absolute;
        right: 15%;
    }

    .navbar {
        margin-bottom: 70%;
    }
}

@media (max-width: 767px) {
    .form {
        position: absolute;
        right: 80px;
    }
}

@media (max-width: 600px) {
    .form {
        position: absolute;
        left: 240px;
    }

    .navbar {
        margin-bottom: 500px;
    }

    #no-file {
        font-size: 13px;
        word-break:break-all;
        white-space: normal;

    }
}