body {
    background: linear-gradient(to right, blueviolet, lightblue);
}

.card {
      max-width: 400px;
      margin: auto;
      margin-top: 80px;
    }
    .card-title {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 20px;
    }

#inp:focus, #inp:active {
    box-shadow: 0 0 5px blueviolet;
    outline: none;
}

#btn {
    font-size: 18px;
    background-color: blueviolet;
}

#btn:hover {
    background-color: rgb(136, 68, 199);
}


#btn:active {
    background-color: rgb(113, 63, 160);
}