body {
      background: linear-gradient(to right, blueviolet, rgb(147, 26, 190));
}



.custom-shadow:focus {
    box-shadow: 0 0 5px rgba(109, 49, 165, 0.6);
}

.custom-btn {
    background-color: rgb(112, 45, 175);
    color: white;
    height: 40px;
    transition: ease-in-out 0.3s;
}

.custom-btn:hover {
    color: white;
    background-color: rgb(126, 54, 192);
}

.custom-btn:active {
    background-color: rgb(125, 73, 174);
}

.keto a {
    color: blueviolet;
}
