body{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    background-image: url(/static/image/login-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

#hello-text {
    position: absolute;
    top: 15%;
    left: 63%;
    transform: translateX(-50%);
}

.login-form  {
    display: flex;
    position: absolute;
    top: 36%;
    right: 17%;
    }

.login-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form input {
    margin-bottom: 16px;
    height: 25px;
    width: 19rem;
    padding: 2px 10px 14px 35px;
    border: none;
    border-bottom: 2px solid rgb(131, 57, 212);
    font-size: 16px;
    outline: none;
    background: transparent;
    transition: border-bottom 0.3s ease-in-out;
}

.login-form input:focus {
    border-bottom: 2px solid rgb(98, 35, 154);
}

.login-form i {
    color: blueviolet;
    font-size: 18px;
    position: absolute;
    top: 59%;
    left: 10px;
    transform: translate(-50%);
}

.input-identity #user-icon{
    position: absolute;
    top: 5%;
}

.input-identity {
    position: relative;
    margin-bottom: 12px;
}

.login-form button {
    position: absolute;
    bottom: -55%;
    background-color:rgb(130, 45, 209);
    color: white;
    border: none;
    border-radius: 8px;
    height: 43px;
    width: 22rem;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.login-form button:hover {
    background-color: rgb(108, 41, 170);
}

.login-form button:focus {
    background-color:rgb(96, 37, 151) ;
}

.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register p {
    white-space: nowrap;
    position: absolute;
    bottom: -88%;
    right: 41%;
    font-size: 17px;
}

.register a {
    display: flex;
    position: absolute;
    bottom: -74%;
    right: 24%;
    color: rgb(89, 22, 152);
    outline: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.register a:hover {
    text-decoration: underline;
}

.register a:focus {
    text-decoration: underline;
}

@media (max-width: 991px) {
  
#hello-text {
    white-space: nowrap;
    display: flex;
    position: absolute;
    left: 50%;
}
}

@media (max-width: 767px)  {
#hello-text {
    display: flex;
    position: absolute;
    left: 44%;
    }
}

@media (max-width: 480px) {
    #hello-text {
        display: flex;
        position: absolute;
        left: 30%;
    }
}