#body {
    background-color: rgb(131, 92, 168);
}

#button {
    background-color: blueviolet;
    color: white;
    transition: ease-in-out 0.3s;
}

#button:focus {
    background-color: rgb(121, 53, 185);
}

#button:hover {
    background-color: rgb(116, 41, 186);
}

#timer {
    color: blueviolet;
}

#inp:focus, #inp:active {
    box-shadow: 0 0 5px blueviolet;
    outline: none;
}