<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Contacts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='add contacts.css') }}">
    <script src="/static/app.js"></script>
</head>
<body>
    <div class="add-contacts">
        <p>Add Contacts</p>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
    <div class="add-form">
        <form method="post" action="{{ url_for('add_contact') }}" enctype="multipart/form-data" autocomplete="off">
           <i id="icons" class="fa-solid fa-address-card"></i>
            <label for="name"> </label>
            <input type="text" id="text" name="name" placeholder="Contact name" autocomplete="off" required ><br>

            <i id="icons" class="fa-solid fa-phone-volume"></i>
            <label for="phone"></label>
            <input type="text" id="text" name="phone"  placeholder="Phone" autocomplete="off" required><br>

            <i id="icons" class="fa-solid fa-envelope-circle-check"></i> 
            <label for="email"></label>
            <input type="email" id="text" name="email"  placeholder="Email" autocomplete="off" required><br>

            <i id="icons" class="fa-solid fa-map-location-dot"></i>
            <label for="address"></label>
            <input type="text" id="text" name="address" placeholder="Contact address" autocomplete="off" required><br>
            <div class="img-con">
                <div class="img">
                    <label for="image" class="file-upload">
                        <i class="fa-solid fa-paperclip"></i>
                    </label>
                <label for="image">Insert Photo</label>
                <span id="file-name">No file choosen</span>
                </div>
                <input type="file" id="image" name="image" onchange="displayFileName()"><br>
                <div class="submit">
                    <button type="submit"><i class="fa-solid fa-user-plus"></i>Add Contacts</button>
                </div>
            </div>
            <div class="back">
                <p>Back to
                <a href="/">Contacts</a>
                </p>
            </div>
        </form>
    </div>
    
</body>