<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Book</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
        <script src="app.js"></script>
    </head>
    <body>
        <div class="display">
            <nav>
                <a href="#">Contacts 📇</a>
                <form id="search-form" action="{{ url_for('list_contacts')}}" method="get">
                <input type="text" name="search" value="{{ search or ''}}" id="search-input" placeholder="Search by phone" autocomplete="off">
                <button type="submit" title="Search Contact"><i class='bx bx-search-alt'></i></button>
                </form>
            </nav>
         </div>
         <p>{{ contact_count }} </p>
         <div id="add-button">
            <a href="{{ url_for('add_contact') }}" title="Add"><button title="Add contact"><i class='bx  bx-plus'  ></i>  </button></a>
         </div>
        <div class="table-border">
        {% if contacts %}
            <table border="1" cellpadding="8">
                <thead>
                    <tr>
                        <th id="add-header">Name</th>
                        <th id="add-header">Phone</th>
                        <th id="add-header">Email</th>
                        <th id="add-header">Address</th>
                        <th id="add-header">Photo</th>
                        <th id="add-header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                    <tr>
                        <td id="info">{{ contact[1] }}</td>
                        <td id="info">{{ contact[2] }}</td>
                        <td id="email">{{ contact[3] }}</td>
                        <td id="info">{{ contact[4] }}</td>
                        <td>
                            {% if contact[5] %}
                            <img id="contact-img" src="{{ url_for('static', filename='uploads/' + contact[5]) }}" width="80" height="80" alt="insert photo">
                            {% else %}
                            No photo
                            {% endif %}
                        </td>
                        <td id="add-delete">
                            <a title="Edit" href="{{ url_for('edit_contact', id=contact[0]) }}"><i id="action" class='bx  bxs-edit'  ></i> </a>
                            <a title="Delete" href="{{ url_for('delete_contact', id=contact[0]) }}"><i id="action" class="bx bxs-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>No contact found.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
         </div>
    </body>
</html>