<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>
<body>
    <div class="display">
        <nav>
            <a href="#">Contacts📝</a>
            <form id="search-form" action="{{ url_for('list_contacts') }}" method="get">
                <input type="text" name="search" value="{{ request.args.get('search'or '') }}" id="search-input" placeholder="{{ search or 'Search by phone number' }}" autocomplete="off">
                <button type="submit" title="Search Contact"><i class='bx bx-search-alt'></i></button>
            </form>
        </nav>
    </div>
    <div class="left-bg">
            <div class="user-pic">
                        <img src="{{ url_for('static', filename='owners_uploads/' + (owner[1] if owner[1] else 'default.webp'))}}" alt="Owner Photo">      
                <div class="email">
                    <span> {{ user_email }}</span>
                </div>
            </div>
       <div class="contact-container">
        <div class="contact-menu">
            <div class="friends">
                <a href="#friends">
                    <div class="left-content">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Friends</span>
                    </div>
                     <span id="con">{{ contact_count }}</span>
                </a>
                   <hr>
            </div>
          
            <div class="dark-mode">
                <a href="#Darkmode">
                <div class="left-content">
                    <i class="fa-solid fa-cloud-moon"></i>
                    <span>Dark Mode</span>
                </div>
                </a>
                   <hr>
            </div>
            <div class="edit">
                <a href="{{ url_for ('edit_account')}}">
                    <div class="left-content">
                        <i class="fa-solid fa-file-pen"></i>
                        <span>Edit Account</span>
                    </div>
                </a>
                   <hr>
            </div>
            <div class="logout">
                <a href="{{ url_for('register_account')}}">
                    <div class="left-content">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Logout</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
        </div>

    <div id="add-button">
        <a href="{{ url_for('add_contact') }}" title="Add">
            <button title="Add contact"><i class='bx bx-plus'></i></button>
        </a>
    </div>

    <div class="table-border">
        {% if contacts %}
        <table border="1" cellpadding="8">
    <thead>
        <tr>
            <th id="add-header">Name</th>
            <th id="add-header">Phone</th>
            <th id="add-header">Email</th>
            <th id="add-header">Address</th>
            <th id="add-header">Photo</th>
            <th id="add-header">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if contacts %}
            {% for contact in contacts %}
            <tr>
                <td id="info">{{ contact[1] }}</td>
                <td id="info">{{ contact[2] }}</td>
                <td id="email">{{ contact[3] }}</td>
                <td id="info">{{ contact[4] }}</td>
                <td>
                    <img id="contact-img" src="{{ url_for('static', filename='uploads/' + (contact[5] if contact[5] else 'default.webp')) }}" width="80" height="80" alt="insert photo">
                </td>
                <td id="add-delete">
                    <a title="Edit" href="{{ url_for('edit_contact', id=contact[0]) }}"><i id="action" class='bx bxs-edit'></i></a>
                    <a title="Delete" href="{{ url_for('delete_contact', id=contact[0]) }}"><i id="action" class="bx bxs-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="no-contact-message">No contact found.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
        {% else %}
        <div class="no-contact-message">
            No contact found.
        </div>
        {% endif %}
    </div>
</body>
</html>
