<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <div class="right-bg"></div>
        <div id="get-started">
            <p>Get started!</p>
        </div>
    <div class="register-form">
        <form action="post" enctype="multipart/form-data" autocomplete="off">
            <label id="label-uxp" for="username">username</label>
            <input  type="text" name="owner-username" id="register-username" required>

            <label id="label-uxp" for="password">password</label>
            <input type="text" name="owner-password" id="register-password" required>

            <div id="insert">
                <label for="remember">
                    <input type="checkbox" name="remember-me" id="remember-me">Remember me
                </label>
                
                     <label for="owner-photo"><i class="fas fa-paperclip"></i><p id="insert-img">Insert photo</p></label>
                
                <input type="file" name="owner-photo" id="owner-photo" style="display: none;" required>
            </div>
             
            <button type="submit" id="create-button">Create account</button>
            <p id="have-acc">Already have an account?</p><a href="{{ url_for('login')}}">Login</a>

        </form>
        {% if error %}
            <p style="color: brown;"> {{ error }}</p>
        {% endif %}
    </div>
</body>
