<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script src="app.js" defer></script>
</head>
<body data-login-failed="{{ 'true' if login_failed else 'false' }}"
data-reset-success="{{ 'true' if success else 'false'}}"> 
    <div class="login-text">
        <p id="hello-text">Hello there! <br>Welcome Back</p>
    </div>
    <div class="login-form">
        <form method="post" action="{{ url_for('login') }}" autocomplete="off">
            <div class="input-identity">
                <i id="user-icon" class="fa fa-user icon"></i>
                <input name="email" type="text" placeholder="Email" required>
            </div>
            <div class="">
                <i class="fa-regular fa-envelope"></i>
                <input name="password" type="text" placeholder="Password" required>
            </div>
            <button id="login-button" type="submit">Sign in</button>
        </form>
        <div class="register">
            <p>Don't have an account?</p>
            <a href="{{ url_for('register_account')}}">Register</a>
             {% if login_attempts %}
                <p>{{ login_attempts }}</p>
            {% endif %}
            {% if error %}
                <p id="invalid">{{ error }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>